@import url('https://fonts.cdnfonts.com/css/vecna');
/* @import url(//db.onlinewebfonts.com/c/b6d1d799bfc7a41478258b851b6de981?family=Vecna); */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
   overflow: hidden;
   height: 100%;
   overflow-x: hidden; 
}

body {
    overflow: hidden;
    position: relative;
    background-color: black;
}